/* #region Main */

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: #2e2f42;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  min-width: 100%;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

/* #endregion Main */

/*#region Header*/

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  padding: 24px 0;
  margin-right: 76px;
}

.logo-text {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}


.nav-item-link {

  position: relative;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  padding: 24px 0;
}

.active::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404BBF;
  left: 0;
  bottom: -4px;
}

.nav .nav-item-link:hover,
.nav .nav-item-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-item {
  padding: 24px 0;
}

.address-item-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-item-link:hover,
.address-item-link:focus {
  color: #404bbf;
}

/*#endregion Header*/

/* #region Hero */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;

  background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url('../images/herobg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;


}

.hero-title {
  max-width: 496px;
  margin: 0 auto;

  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-button {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;

  display: block;
  margin: 0 auto;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  margin-top: 48px;
  min-width: 169px;
  height: 56px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* #endregion Hero */

/* #region About */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.about-item {
  flex-basis: calc((100% - 72px) / 4);
}

.about-item .section-title {
  text-align: left;
}

.about-item .section-text {
  text-align: left;
}

.about-block {
  min-width: 264px;
  background-color: #F4F4FD;
  border-radius: 4px;
  border: 1px solid #8E8F99;
  padding: 24px 0;
  margin-bottom: 8px;
}

.about-icon {
  display: block;
  margin: 0 auto;
}

.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 8px;
  text-align: center;
}

.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;

  margin-bottom: 8px;
}

/* #endregion About */

/* #region Team */

.team {
  background-color: #f4f4fd;
}

.team-list {
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-item-container {
  padding: 32px 0;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

  margin-bottom: 72px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-icon {
  fill: #ffffff;
}

.team-social-list .team-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;
}

.team-list li {
  background-color: #ffffff;
}

/* #endregion Team */

/* #region Portfolio */

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 8px;
}

.portfolio-list-container {
  padding: 32px 16px;
  align-items: flex-start;

  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* #endregion Portfolio */

/* #region Footer */

.footer {
  background-color: #2e2f42;
  color: #ffffff;

  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-text {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;

  max-width: 264px;
}

/* #endregion Footer */